<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="FellSky.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <userSettings>
        <FellSky.Properties.Settings>
            <setting name="GraphicsWidth" serializeAs="String">
                <value>1300</value>
            </setting>
            <setting name="GraphicsHeight" serializeAs="String">
                <value>768</value>
            </setting>
            <setting name="FullScreen" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="VSync" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FrameLimit" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DataFolder" serializeAs="String">
                <value>../../../Data</value>
            </setting>
            <setting name="LatestSaveGame" serializeAs="String">
                <value/>
            </setting>
            <setting name="LoadedSpriteSheets" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>Textures/Hulls.json</string>
                        <string>Textures/SpaceObjects.json</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="LoadedShapeLists" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>Shapes.json</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="GuiDocument" serializeAs="String">
                <value>Gui/Gui.xml</value>
            </setting>
        </FellSky.Properties.Settings>
    </userSettings>
</configuration>
