<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FellSky.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <FellSky.Properties.Settings>
            <setting name="GraphicsWidth" serializeAs="String">
                <value>1366</value>
            </setting>
            <setting name="GraphicsHeight" serializeAs="String">
                <value>768</value>
            </setting>
            <setting name="FullScreen" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="VSync" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FrameLimit" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="DataFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="LatestSaveGame" serializeAs="String">
                <value />
            </setting>
        </FellSky.Properties.Settings>
    </userSettings>
</configuration>