<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="FellSky.Editor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <userSettings>
        <FellSky.Editor.Properties.Settings>
            <setting name="DataFolder" serializeAs="String">
                <value>../../../Data</value>
            </setting>
            <setting name="InitialHullTabIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RecentShips" serializeAs="String">
                <value/>
            </setting>
            <setting name="HullColor" serializeAs="String">
                <value/>
            </setting>
            <setting name="TrimColor" serializeAs="String">
                <value/>
            </setting>
            <setting name="Palette" serializeAs="String">
                <value>#FFFFFF,#A86E3D,#FACFAA,#CE986A,#834C1C,#582B04,#A8803D,#FADCAA,#CEA96A,#835C1C,#583804,#A8513D,#FAB9AA,#CE7D6A,#83301C,#581404</value>
            </setting>
            <setting name="BackgroundColor" serializeAs="String">
                <value/>
            </setting>
        </FellSky.Editor.Properties.Settings>
    </userSettings>
</configuration>
