.storyoverlay {
	background-color:#000000FF;
	width:100%;
	height:100%;
	display:block;
	color:#FFFFFFFF;
	text-align: center;
	padding-top:25%;
}

.speechbox {
	
}

.speechbox .photo {
	
}

.speechbox .text {
	
}

span.gold {
	
}